
    <div ng-controller="view3_company_infoCtrl">
    <!--<div>-->
        <div>
            Search text: <fieldset class="form-group">
                <input   ng-model="vat" type="text" class="form-control" id="find"  />
            </fieldset>


            

            <input type="button" value="Find" ng-click="findCompany();
                    showAlert()" class="btn btn-primary" />

        </div>

        <div class="col-md-9"  ng-show="myvalue">
                            <table class="table" id="orders">
                                <thead>
                                    <tr>
                                        <td>Name</td>
                                        <td>Phone</td>
                                        <td>Vat</td> 
                                    </tr>
                                </thead>
            
                                <tbody>
                                    <tr >
                                        <td>{{company.name}}</td>
                                        <td>{{company.phone}}</td>
                                        <td>{{company.vat}}</td>
            
                                    </tr>
                                </tbody>
                            </table>
            
            <div>
            <uib-accordion>
    <uib-accordion-group  ng-repeat="unit in productionunits"  heading="{{unit.name}}">
        Name: {{unit.name}}<br>
        Phone:{{unit.address}}<br>
        Zipcode:{{unit.zipcode}}<br>
        City:{{unit.city}}<br>
        Email:{{unit.email}}
    </uib-accordion-group>
   
    
  </uib-accordion>            
            
            </div>
            
            <!--{{company}}-->

        </div>
    <!--</div>-->
    </div>