
<label>Search
    <input type="search" ng-model="userFilter" placeholder="Filter">
</label>

<div>
    <div class="col-md-9">
        <table class="table">
            <thead >
                <tr>
                    <td>ID</td>
                    <td><a href="">User Name</a></td>
                    <td><a href="">Role</a></td>
                    <td><a href="">Password</a></td>
                    <td><a>Action</a></td>
                </tr>
            </thead>

            <tbody>
                <tr  ng-repeat="user in users| filter: userFilter">
                    <td>{{$index + 1}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.role}}</td>
                    <td>{{user.password}}</td>

                    <td>
                        <a href="" ng-click="delete(user.username)">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>

        <button class="btn btn-success" ng-click="getUsers()">
            <span class="glyphicon glyphicon-save"></span>  Get Users
        </button>
    </div>
